<div class="container">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">


      <dzwelg-alert [alert]="alert"></dzwelg-alert>

      <div *ngIf="!loading">
        <h1>Mijn saldo:</h1>

        <br/>
        <h2>{{ saldo | currency:'EUR':true }}</h2>

        <br/>

        <h1>Mijn recente transacties:</h1>
        <br/>
        <ul>
          <li *ngFor="let transactie of transacties">
            {{ transactie }}
          </li>
        </ul>
      </div>


    </main>
  </div>
</div>
