<div class="container-fluid">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Evenementen</h1>

      <dzwelg-alert [alerts]="alerts"></dzwelg-alert>

      <div class="row-fluid">
        <form class="form-inline" (ngSubmit)="evenementAanmaken()">
          <input type="text" name="evenementTitel" [(ngModel)]="evenement.titel" class="form-control mb-2 mr-sm-2 mb-sm-0" id="evenement-naam"
            placeholder="Naam evenement">

          <button type="submit" class="btn btn-primary">
      Evenement aanmaken
    </button>
        </form>
      </div>

      <br/>

      <div class="row-fluid">
        <div class="card-columns">
          <div *ngFor="let evenement of evenementen | async" class="card">
            <div class="card-block">
              <h4 class="card-title">{{ evenement.titel }}</h4>
              <p class="card-text"><small class="text-muted">Aangemaakt op: {{ evenement.aangemaakt | date }}</small></p>
              <button class="btn btn-secondary"><span class="fa fa-pencil"></span>&nbsp;Bewerken</button>
              <button class="btn btn-danger" (click)="open(content, evenement.id)"><span class="fa fa-trash"></span>&nbsp;Verwijderen</button>
            </div>
          </div>
        </div>
      </div>

      <!-- "Verwijder" confirmatie dialoog -->
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="sluit()">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
          <p>Zeker dat je dit evenement wilt verwijderen?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="verwijderEnSluit(teVerwijderenEvenementId)"><span class="fa fa-trash"></span>&nbsp;Verwijderen</button>
          <button class="btn btn-secondary" (click)="sluit()">Annuleren</button>
        </div>
      </ng-template>
    </main>
  </div>
</div>