/*
 * Base structure
 */


/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

footer {
   position:fixed;
   left:0;
   bottom:0;
   height:30px;
   width:100%;
   background:#999;
   padding: 10px;
   padding-bottom: 30px;
}

.tiny {
	font-size: small;
}

.content {
  margin-bottom: 75px;
}

.active-link {
  color: #000000 !important;
  background-color: #999999;
}
