<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/saldo">DZwelg</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/activiteiten" routerLinkActive="active-link" *ngxPermissionsOnly="[beheerderLiteral]">Activiteiten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gebruikers" routerLinkActive="active-link" *ngxPermissionsOnly="[beheerderLiteral]">Gebruikers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consumpties" routerLinkActive="active-link" *ngxPermissionsOnly="[beheerderLiteral, stockBeheerderLiteral]">Consumpties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stock" routerLinkActive="active-link" *ngxPermissionsOnly="[beheerderLiteral, stockBeheerderLiteral]">Stockbeheer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/saldo" routerLinkActive="active-link" *ngxPermissionsOnly="[beheerderLiteral, lidLiteral]">Mijn saldo</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" (click)="uitloggen()">
        <a class="nav-link" href="#"><i class="fa fa-power-off"></i>&nbsp;Afmelden</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p class="tiny">Versie: {{currentVersion}}</p>
</footer>
