<div class="container">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Consumpties</h1>

      <br/>

      <dzwelg-alert [alert]="alert"></dzwelg-alert>

      <div class="row-fluid">
        <form class="form-inline" [formGroup]="consumptieAanmakenForm" (ngSubmit)="consumptieAanmaken(consumptieAanmakenForm.value)">
          <input type="text" formControlName="naam" class="form-control" id="naam_input" placeholder="naam consumptie"> &nbsp;&nbsp;
          <div class="input-group">
            <span class="input-group-addon">&euro;</span>
            <input type="number" formControlName="prijs" class="form-control" id="prijs_input">
          </div>
          &nbsp;&nbsp;
          <div>
            <button class="btn btn-primary">Aanmaken</button>
          </div>
        </form>
      </div>

      <br/>

      <div id="consumties-tabel">
        <table class="table table-striped table-hoverable">
          <thead>
            <tr>
              <td>Naam</td>
              <td>Prijs</td>
              <td>Acties</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let consumptie of consumpties | async | actief">
              <td>
                <div *ngIf="consumptie.id === teBewerkenConsumptieId"><input #teBewerkenConsumptieNaamInput class="form-control" type="text" [value]="consumptie.naam" [(ngModel)]="teBewerkenConsumptie.naam" ></div>
                <div *ngIf="consumptie.id !== teBewerkenConsumptieId">{{ consumptie.naam }}</div>
              </td>
              <td>
                <div *ngIf="consumptie.id === teBewerkenConsumptieId"><input #teBewerkenConsumptiePrijsInput class="form-control" type="number" [value]="consumptie.prijs" [(ngModel)]="teBewerkenConsumptie.prijs" ></div>
                <div *ngIf="consumptie.id !== teBewerkenConsumptieId">{{ consumptie.prijs | currency:'EUR':true }}</div>
              </td>
              <td>
                  <button *ngIf="consumptie.id === teBewerkenConsumptieId" class="btn btn-success" (click)="concludeerBewerken()"><span class="fa fa-check"></span></button>
                  <button *ngIf="consumptie.id === teBewerkenConsumptieId" class="btn btn-secondary" (click)="annulleerBewerken()"><span class="fa fa-remove"></span></button>
                  <button *ngIf="consumptie.id !== teBewerkenConsumptieId" class="btn btn-secondary" (click)="bewerkConsumptie(consumptie)"><span class="fa fa-pencil"></span></button>
                <button class="btn btn-danger" (click)="openConsumptieVerwijderenModel(contentVerwijderConsumptieModal, consumptie.id)">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- "Verwijder" confirmatie dialoog -->
      <ng-template #contentVerwijderConsumptieModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">{{ (teVerwijderenConsumptie | async)?.naam }} verwijderen?</h4>
          <button type="button" class="close" aria-label="Close" (click)="sluitVerwijderConsumptieModal()">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
          <p>Zeker dat je deze consumptie wilt verwijderen? Deze actie zal ook bijhorende stocklijnen verwijderen.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="verwijderConsumptieEnSluit(teVerwijderenConsumptie)"><span class="fa fa-trash"></span>&nbsp;Verwijderen</button>
          <button class="btn btn-secondary" (click)="sluitVerwijderConsumptieModal()">Annuleren</button>
        </div>
      </ng-template>



    </main>
  </div>
</div>
