<div class="container">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Stockbeheer</h1>

      <br/>

      <div id="stock-tabel">
        <table class="table table-striped table-hoverable">
          <thead>
          <tr>
            <td>Consumptie</td>
            <td>Hoeveelheid</td>
            <td>Acties</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stocklijn of stocklijnen | sorteer:'consumptieNaam'">
            <td>{{ stocklijn.consumptieNaam }}</td>
            <td>
              <div *ngIf="stocklijn.id === teBewerkenStockLijnId"><input class="form-control" type="number" [value]="stocklijn.aantalInStock" [(ngModel)]="teBewerkenStockLijn.aantalInStock" ></div>
              <div *ngIf="stocklijn.id !== teBewerkenStockLijnId">{{ stocklijn.aantalInStock }}</div>
            </td>
            <td>
              <button *ngIf="stocklijn.id === teBewerkenStockLijnId" class="btn btn-success" (click)="concludeerBewerken()"><span class="fa fa-check"></span></button>
              <button *ngIf="stocklijn.id === teBewerkenStockLijnId" class="btn btn-secondary" (click)="annulleerBewerken()"><span class="fa fa-remove"></span></button>
              <button *ngIf="stocklijn.id !== teBewerkenStockLijnId" class="btn btn-secondary" (click)="bewerkStocklijn(stocklijn)"><span class="fa fa-pencil"></span></button>
              <button *ngIf="stocklijn.id !== teBewerkenStockLijnId" class="btn btn-primary" (click)="openStockAanpassenModal(contentStockAantalAanpassenModal, stocklijn)">
                <span class="fa fa-plus"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- "Stock aantal aanpassen" dialoog -->
      <ng-template #contentStockAantalAanpassenModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Aantal in stock aanpassen</h4>
          <button type="button" class="close" aria-label="Close" (click)="sluitModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <dzwelg-alert [alert]="alert"></dzwelg-alert>

          <br/>

          <form class="form" [formGroup]="stockAantalAanpassenForm" (ngSubmit)="stockAantalAanpassen(stockAantalAanpassenForm.value)">
            <label for="aantal_in_stock_input">Aantal toe te voegen aan stock</label>
            <input type="number" formControlName="aantalInStock" class="form-control" id="aantal_in_stock_input">
            <br/>
            <div class="pull-right">
              <button class="btn btn-success">Toevoegen</button>
              <button class="btn btn-secondary" (click)="sluitModal()">Annuleren</button>
            </div>
          </form>

        </div>
      </ng-template>


    </main>
  </div>
</div>
