<div class="container">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Producties & evenementen</h1>

      <dzwelg-alert [alert]="alert"></dzwelg-alert>

      <a routerLink="aanmaken">Productie of evenement aanmaken</a>

      <br/>
      <br/>

      <div class="row-fluid">
        <div class="card-columns">
          <div *ngFor="let evenement of activiteiten | async" class="card">
            <div class="card-body">
              <h4 *ngIf="evenement.id !== teBewerkenActiviteitId" class="card-title">{{ evenement.titel }}</h4>
              <form *ngIf="evenement.id === teBewerkenActiviteitId" class="form-inline"
                    [formGroup]="bewerkForms.get(evenement.id)"
                    (ngSubmit)="evenementBewerken(bewerkForms.get(evenement.id).value, evenement.id)">
                <input type="text" formControlName="titel" class="form-control mb-2 mr-sm-2 mb-sm-0"
                       [value]="evenement.titel">
                <button type="submit" class="btn btn-success">
                  <span class="fa fa-check"></span>
                </button>
                &nbsp;
                <button class="btn btn-secondary" (click)="teBewerkenActiviteitId = ''">
                  <span class="fa fa-remove"></span>
                </button>
              </form>
              <p class="card-text">
                <small class="text-muted">Aangemaakt op: {{ getDateFromSeconds(evenement.starttijd) }}</small>
              </p>
              <button class="btn btn-secondary" (click)="naarActiviteitBewerken(evenement)"><span
                class="fa fa-pencil"></span>&nbsp;Bewerken
              </button>
              <button class="btn btn-danger" (click)="open(content, evenement.id)"><span class="fa fa-trash"></span>&nbsp;Verwijderen
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- "Verwijder" confirmatie dialoog -->
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">{{ (teVerwijderenActiviteit | async)?.titel }} verwijderen?</h4>
          <button type="button" class="close" aria-label="Close" (click)="sluit()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Zeker dat je dit evenement wilt verwijderen?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="verwijderEnSluit(teVerwijderenActiviteitId)"><span
            class="fa fa-trash"></span>&nbsp;Verwijderen
          </button>
          <button class="btn btn-secondary" (click)="sluit()">Annuleren</button>
        </div>
      </ng-template>
    </main>
  </div>
</div>
