<div class="container">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Gebruikers</h1>

      <dzwelg-alert [alert]="alert"></dzwelg-alert>

      <div class="row-fluid">
        <button class="btn btn-primary" (click)="openGebruikerAanmakenModal(contentGebruikerAanmakenModal)"><span class="fa fa-plus"></span>&nbsp;Nieuwe gebruiker aanmaken</button>
      </div>

      <br/>

      <div id="leden-tabel">
        <table class="table table-striped table-hoverable">
          <thead>
            <tr>
              <td>Voornaam</td>
              <td>Achternaam</td>
              <td>Saldo</td>
              <td>Acties</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gebruiker of gebruikers | async">
              <td>{{ gebruiker.voornaam }}</td>
              <td>{{ gebruiker.achternaam }}</td>
              <td>{{ gebruiker.saldo | currency:'EUR':true }}</td>
              <td>
                <button class="btn btn-secondary" [disabled]="disableButtons">
                  <span class="fa fa-pencil"></span>
                </button> &nbsp;
                <button class="btn btn-danger" (click)="openGebruikerVerwijderenModel(contentVerwijderGebruikerModal, gebruiker.uid)" [disabled]="disableButtons">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- "Gebruiker aanmaken" dialoog -->
      <!--suppress HtmlUnknownAttribute -->
      <ng-template #contentGebruikerAanmakenModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Nieuwe gebruiker aanmaken</h4>
          <button type="button" class="close" aria-label="Close" (click)="sluitGebruikerAanmakenModal()">
      <span>&times;</span>
    </button>
        </div>
        <div class="modal-body">

          <dzwelg-alert [alert]="alertGebruikerAanmaken"></dzwelg-alert>

          <form class="form" [formGroup]="gebruikerAanmakenFormGroup" (ngSubmit)="gebruikerAanmaken(gebruikerAanmakenFormGroup.value)">
            <label for="voornaam_input">Voornaam</label>
            <input formControlName="voornaam" class="form-control" id="voornaam_input" [disabled]="disableAanmakenForm">
            <label for="achternaam_input">Achternaam</label>
            <input formControlName="achternaam" class="form-control" id="achternaam_input" [disabled]="disableAanmakenForm">
            <label for="email_input">E-mailadres</label>
            <input type="email" formControlName="email" class="form-control" id="email_input" [disabled]="disableAanmakenForm">
            <label>Rol</label>
            <div class="form-check">
              <label class="form-check-label">
                <input formControlName="gebruikerrolLid" class="form-check-input" type="checkbox" checked>
                Lid <small>(enkel toegang tot eigen saldo)</small>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input formControlName="gebruikerrolKassaverantwoordelijke" class="form-check-input" type="checkbox" >
                Kassaverantwoordelijke <small>(toegang tot de kassa app)</small>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input formControlName="gebruikerrolStockbeheerder" class="form-check-input" type="checkbox" >
                Stockbeheerder <small>(toegang tot consumptie- en stockbeheer)</small>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input formControlName="gebruikerrolBeheerder" class="form-check-input" type="checkbox" >
                Beheerder <small>(toegang tot alle beheerdersfuncties en de kassa app)</small>
              </label>
            </div>

            <br/>
            <div class="pull-right">
              <button class="btn btn-success" [disabled]="disableAanmakenForm">Aanmaken</button>
              <button class="btn btn-secondary" [disabled]="disableAanmakenForm" (click)="sluitGebruikerAanmakenModal()">Annuleren</button>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- "Verwijder" confirmatie dialoog -->
      <!--suppress HtmlUnknownAttribute -->
      <ng-template #contentVerwijderGebruikerModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">{{ (teVerwijderenGebruiker | async)?.voornaam + ' ' + (teVerwijderenGebruiker |
            async)?.achternaam }} verwijderen?</h4>
          <button type="button" class="close" aria-label="Close" (click)="sluitVerwijderGebruikerModal()">
      <span>&times;</span>
    </button>
        </div>
        <div class="modal-body">
          <p>Zeker dat je deze gebruiker wilt verwijderen?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="verwijderGebruikerEnSluit(teVerwijderenGebruikerUid)"><span class="fa fa-trash"></span>&nbsp;Verwijderen</button>
          <button class="btn btn-secondary" (click)="sluitVerwijderGebruikerModal()">Annuleren</button>
        </div>
      </ng-template>

    </main>
  </div>
</div>
