<div class="container-fluid">
  <div class="row">
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Evenementen bewerken</h1>

      <h2>Algemeen</h2>

      <p>
        Algemeen formulier
      </p>

      <h2>Inschrijvingen</h2>

      <p>
        Inschrijvingen formulier
      </p>

      <div class="row">

        <div class="col-6">
          <table class="col-lg-6 table table-sm">
            <tr>
              <th>Gebruiker</th>
              <th>Inschrijven</th>
            </tr>
            <tr *ngFor="let gebruiker of gebruikers | async">
              <td>{{ gebruiker.voornaam + ' ' + gebruiker.achternaam }}</td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="schrijfIn(gebruiker.id)"><span class="fa fa-plus"></span></button>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-6">
          <table class="col-lg-6 table table-sm">
            <tr>
              <th>Gebruiker</th>
              <th>Uitschrijven</th>
              <th>Betaald?</th>
            </tr>
            <tr *ngFor="let inschrijving of inschrijvingen">
              <td>{{ inschrijving.voornaam + ' ' + inschrijving.achternaam }}</td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="schrijfUit(inschrijving.id)"><span class="fa fa-remove"></span></button>
              </td>
              <td>
                <input type="checkbox" [value]="inschrijving.betaald">
              </td>
            </tr>
          </table>
        </div>

      </div>


    </main>
  </div>
</div>

